<header class="navigation">
  <a href="/" class="logo" title="ÄLG, a solitary moose.">
    <img src="/static/moose.png" alt="Moose">
  </a>
  <nav>
    <ul>
      <li><a href="/">writing</a></li>
      <li><a href="/archive">archive</a></li>
      <li><a href="/about">about</a></li>
      <li class="no-bullet"><a href="/atom.xml">rss</a></li>
    </ul>
  </nav>
</header>

<!-- 数学公式 -->
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
      inlineMath: [['$','$']]
    }
  });
</script>